body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Geneva, Tahoma, sans-serif, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom right, #DAF4FE, #8bcfec);
  color: #386583;
}

h1 {
  margin-bottom: 15px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 8px;
  width: 200px;
  font-size: 14px;
  text-align: center;
}
button {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background-color: #4990e4;
  color: #fff;
  font-weight: normal;
  cursor: pointer;
}
button:hover {
  background-color: #eee;
}
#resultado {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}
@media (max-width: 600px) {
  body {
    padding: 20px;
  }
  input {
    width: 100%;
  }
}