body {
  margin:0;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to top, #becadc, #9eb4cf, #7c9ec1, #558ab4, #1a76a6);
  transition: background-color 0.5s ease;
}

#busca-container,
#resultado-container {
  background-color: rgba(245, 242, 242, 0.918);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  padding: 20px 15px;
  width: 100%;
  max-width: 20rem;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}


#caixa-clima {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba(77, 133, 218, 0.2);
  border-radius: 15px;
  padding: 15px 25px;
  margin-bottom: 15px;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#temperatura {
  font-size: 48px;
  font-weight: bold;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* espaço entre o input e o botão */
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 8px;
  width: 70%;
  font-size: 16px;
  text-align: center;
  margin-bottom: 0px;
}

h1 {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
}


button {
  margin-top: 0px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background-color: #325ab3;
  color: #ffff;
  font-weight: normal;
  cursor: pointer;
}

button:hover {
  background-color: #eee;
}

#erro{
  color: red;
  font-size: 12px;
}

.temperatura {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 2rem;
}

#icone-clima {
  font-size: 3rem;
  margin-right: 10px;
}

.home-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: rgb(199, 176, 146);
}

/* Responsividade */
@media (max-width: 600px) {
  .container {
    width: 90%;
    padding: 20px;
  }

  input {
    width: 100%;
  }
}